<form method="post" action="{{ path('app_admin_administrateur_delete', {'id': administrateur.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet administrateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ administrateur.id) }}">
    <div class="button-container"> 
    <button class="btn-action">supprimer</button>
    </div>
</form>
