{% extends 'base.html.twig' %} {% block title %}Editer un Administrateur{%
endblock %} {% block body %}

<h1>Editer un Administrateur</h1>

{{
  include("admin/administrateur/_form.html.twig", { button_label: "Update" })
}}
<div class="button-container">
  
    <a class="btn-action" href="{{ path('app_admin_administrateur_index') }}">retour</a>
  

  {{ include("admin/administrateur/_delete_form.html.twig") }}
</div>

{% endblock %}
