{% extends 'base.html.twig' %}

{% block title %}NOuveau Administrateur{% endblock %}

{% block body %}
    <h1>Créér un  Administrateur</h1>

    {{ include('admin/administrateur/_form.html.twig') }}

    <a href="{{ path('app_admin_administrateur_index') }}">retour à la liste</a>
{% endblock %}
