{% extends 'base.html.twig' %}

{% block title %}Nouveau Administrateur{% endblock %}

{% block body %}
    <h1>Créer un  Administrateur</h1>

    {{ include('admin/administrateur/_form.html.twig') }}

    <div class="button-container">
    <a class="btn-action" href="{{ path('app_admin_administrateur_index') }}">retour</a>
    </div>
{% endblock %}
