<form
  method="post"
  action="{{ path('app_profile_delete', { id: user.id }) }}"
  onsubmit="return confirm('Voulez-vous supprimer votre profil ?');">
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ user.id) }}" />
  <div class="button-container">
    <button class="btn-action">Supprimer</button>
  </div>
</form>
