{% extends 'base.html.twig' %}

{% block title %}Edition profil{% endblock %}

{% block body %}
    <h1>Edition du profil</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profile_index') }}">retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_APPRENANT')%}
    {{ include('profile/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
