{% extends 'base.html.twig' %} {% block title %}Nouvelle Promotion{% endblock %}
{% block body %}
<h1>Créér une Promotion</h1>

{{ include("responsable/promotion/_form.html.twig") }}

<div class="button-container">
  <a class="btn-action" href="{{ path('app_responsable_promotion_index') }}"
    >retour</a
  >
</div>
{% endblock %}
