{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="contenu">
        <div class="connexion">
            <div class="content">
                <h1>Connexion</h1>
                <fieldset> 
                    <legend>Me connecter</legend>
                    <form method="post" class="login-form">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <label class="checkbox-label">
                        <input type="checkbox" name="_remember_me">
                        Rester connecté
                    </label>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="inputBox">
                        <input type="submit" value="Connexion" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
            </div>
        </div>
    </div>
{% endblock %}

