{% extends 'base.html.twig' %} {% block title %}Liste des Promotions{% endblock
%} {% block body %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE_TERRITORIAL') or is_granted('ROLE_FORMATEUR')%}
<h1>Liste des promotions</h1>
<ul>
  {% for promotion in promotions %}
  <li>
    <a href="{{ path('app_home_promotion_show', { id: promotion.id }) }}">
      {{ promotion.nom }}
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>
 Bienvenue sur le site de Pop Shool !
</p>
{% endif %} {% endblock %}
