{% extends 'base.html.twig' %} {% block title %} Mentions légales {% endblock %}
{% block body %}
<div class="mentions-legales">
  <br />
  <h1>1.1 Propriété Intellectuelle</h1>
  <br />
  <p>
    Tous les contenus présents sur le site de POP School sont couverts par le
    droit d’auteur. Toute reprise est dès lors conditionnée à l’accord de leur
    auteur.
  </p>
  <br />
  <p>
    La reproduction ou la représentation de tout ou partie de ce site, sur
    quelque support que ce soit, est formellement interdite sauf accord
    préalable écrit du directeur de la publication.
  </p>
  <br />
  <p>
    Vous pouvez toutefois télécharger ou imprimer sur papier des pages et/ou des
    parties du site de POP School, à des fins strictement personnelles, pour
    autant que vous ne supprimiez pas les mentions relatives au droit d’auteur
    ou autres mentions concernant les droits de propriété intellectuelle.
  </p>
  <br />
  <p>
    Le téléchargement ou toute autre forme de copie d’informations présentes sur
    le site de POP School ne vous confèrent aucun droit sur ceux-ci. Vous ne
    pouvez ni reproduire (en tout ou en partie) ni transmettre (électroniquement
    ou de quelque autre manière) ni modifier, ni utiliser le site de POP School
    à des fins publiques ou commerciales.
  </p>
  <br />
  <p>
    Le nom POP School ainsi que le logo correspondant à ce nom est une marque
    déposée. Vous ne pouvez reproduire, supprimer, réutiliser ou modifier en
    aucune manière ces signes distinctifs lorsqu’ils apparaissent sur les pages
    du site.
  </p>
  <br />
  <h1>1.2 Hébergement et Développement</h1>
  <br />
  <p>Le site www.popschool.fr est édité par : POP School</p>
  <p>Propriétaire : POP School – SAS – 8 rue Nicolas Leblanc, Lille</p>
  <p>Responsable publication : Pierre Verlyck – popschool@pop.eu.com</p>
  <p>Webmaster : Kaya Sofiane – kayasofiane7@gmail.com</p>
  <p>Hébergeur : à compléter</p>

  <br />
  <h1>1.3 Données Personnelles</h1>
  <br />
  <p>
    Vous pouvez être amené à renseigner des formulaires pour avoir accès à des
    informations spécifiques telles que des ressources (brochure et dossier de
    candidature, inscription en ligne). Les informations recueillies font alors
    l’objet d’un traitement informatique rendu nécessaire pour assurer le suivi
    commercial et marketing. Conformément à la loi « informatique et liberté »
    du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès, de
    rectification, de modification et de suppression concernant vos données
    personnelles collectées sur le site de POP School. Vous pouvez exercer ce
    droit en envoyant un courriel à rgpd@pop.eu.com
  </p>
  <br />
  <p>
    Le Règlement Général de Protection des données (RGPD) entrée en vigueur le
    25 mai 2018, définit les principes à respecter lors de la collecte, du
    traitement et de la conservation de données personnelles. Il garantit aussi
    les droits pour les personnes concernées.
  </p>
  <br />
  <h3>Objectif :</h3>
  <br />
  <p>
    La collecte de données personnelles est effectuée en vue de permettre la
    transmission d’informations complémentaires ou personnalisées sur des
    programmes ou des offres commerciales de POP School, de permettre
    l’inscription en ligne à ces programmes, et d’être contacté par l’un de nos
    conseillers afin de vous accompagner dans votre démarche d’inscription à
    l’un de nos programmes de formation.
  </p>
  <br />
  <p>Tous nos formulaires ont pour objectifs :</p>
  <li>
    soit une demande de contact ou d’inscriptions (évènement ou inscription en
    ligne),
  </li>
  <li>
    soit une demande de ressources (brochure, dossier de candidature, etc.) et
    recueillent des informations relatives à l’identité (nom, prénom, téléphone,
    email)
  </li>
  <br />
  <p>
    Les informations collectées sont à l’usage exclusif de POP School. Vous
    pouvez consulter
    <a
      href="http://popschool.fr/wp-content/uploads/2021/03/Politique-RGPD-POP-School.pdf"
      >La politique de protection des données personnelles applicable sur site
      internet POP School.fr ici.</a
    >
  </p>
  <br />
  <h1>1.4 Droits des personnes</h1>
  <br />
  <p>
    Conformément à la loi informatique et libertés et au RGPD, toutes personnes
    peut exercer son droit d’accès, de rectification, d’opposition, à la
    limitation des traitements, à la suppression et la portabilité des données
    le concernant en faisant la demande par courrier signé et accompagné de la
    copie d’un titre d’identité à l’adresse du siège social de POP School : 8
    rue Nicolas Leblanc,5900 Lille.
  </p>
  <br />
  <h3>Cookies</h3>
  <br />
  <p>
    Vous pouvez consulter les cookies du site sur la page :
    <a
      href="https://popschool.fr/politique-de-cookies-ue/"
      target="_blank"
      rel="noopener"
      >Cookies du site</a
    >
  </p>
  <br />
</div>
{% endblock %}
