<form method="post" action="{{ path('app_admin_apprenant_delete', {'id': apprenant.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet apprenant?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apprenant.id) }}">
    <div class="button-container">
    <button class="btn-action" class="btn">Supprimer</button>
    </div>
</form>
