{% extends 'base.html.twig' %}

{% block title %}Editer un Apprenant{% endblock %}

{% block body %}
    <h1>Editer un  Apprenant</h1>

    {{ include('admin/apprenant/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="button-container">

        <a class="btn-action" href="{{ path('app_admin_apprenant_index') }}">Retour</a>
    
        {{ include('admin/apprenant/_delete_form.html.twig') }}
    </div>
    {% endblock %}
