<form method="post" action="{{ path('app_admin_responsable_territorial_delete', {'id': responsable_territorial.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce responsable territorial?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ responsable_territorial.id) }}">
    <div class="button-container">
    <button class="btn-action">Supprimer</button>
    </div>
</form>
