{% extends 'base.html.twig' %}

{% block title %}Editer un  Responsable Territorial{% endblock %}

{% block body %}
    <h1>Editer un Responsable Territorial</h1>

    {{ include('admin/responsable_territorial/_form.html.twig', {'button_label': 'enregistrer'}) }}

    <div class="button-container">
    <a class="btn-action" href="{{ path('app_admin_responsable_territorial_index') }}">retour</a>
    {{ include('admin/responsable_territorial/_delete_form.html.twig') }}
</div>
{% endblock %}
