{% extends 'base.html.twig' %}

{% block title %}Editer un  Responsable Territorial{% endblock %}

{% block body %}
    <h1>Editer un ResponsableTerritorial</h1>

    {{ include('admin/responsable_territorial/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_responsable_territorial_index') }}">retour à la liste</a>

    {{ include('admin/responsable_territorial/_delete_form.html.twig') }}
{% endblock %}
