.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    width: 100%;
}

.list-container {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.list-container h1 {
    color: #263280;
    margin-top: 15px;
}

.home-page-ul {
    list-style: none;
    padding: 0;
}

.home-page-li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-page-a {
    color: #263280;
    text-decoration: none;
    font-weight: bold;
}

.home-page-a:hover {
    color: #1a237e;
}

.image-container {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    margin-left: 20px;
}

.image-container img {
    max-width: 80%;
    height: auto;
}

@media (max-width: 940px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }
}
