.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.promotion-show {
    display: flex;
}

h1 {
    margin-bottom: 20px;
    margin-left: 0px !important;
    
}
 .list-container li{
    color: #1a237e;
    font-weight: bold;
}

#title_home {
    margin-top: 300px;
    text-align: center;
}

.content-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
}

.list-container {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.list-container h1 {
    color: #263280;
    margin-top: 15px;
}

.home-page-ul {
    list-style: none;
    padding: 0;
}

.home-page-li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-page-li :hover {
    text-decoration: underline;
}

.home-page-a {
    color: #263280;
    text-decoration: none;
    font-weight: bold;
}

.home-page-a:hover {
    color: #1a237e;
}

.image-container {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 74%;
    height: auto;
}


@media (max-width: 900px) {
    .main-content {
      flex-direction: column;
      align-items: center;
      text-align: center; 
    }
  
    
    .image-container {
      max-width: 100%;
      margin: 10px 0; 
    }
  
    .image-container img {
      max-width: 80%; 
      height: auto;
    }
  
    #title_home {
      margin-top: 20px; 
    }
  }
  

@media (max-width: 768px) {
    #title_home {
        margin-top: 30px;
        margin-bottom: 20px; 
    }
}

@media (max-width: 600px) {
    #title_home {
        margin-top: 20px;
    }
}
