.contenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.connexion {
    padding: 20px;
    border-radius: 8px;
    max-width: 450px;
    width: 70%;
    box-sizing: border-box;
    color: rgb(38, 50, 128);
    align-items: center; 
}

.connexion fieldset,
.connexion fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
}


.btn-primary {
    background-color: rgb(38, 50, 128);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; 
}

.btn-primary:hover {
    background-color: #0056b3;
    margin-top: 10px; 
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: stretch;
    }

    .connexion {
        margin-bottom: 20px;
    }

    .logo {
        margin-top: 20px;
    }
}
