{% extends 'base.html.twig' %}

{% block title %}Nouveau Formateur{% endblock %}

{% block body %}
    <h1>créér un Formateur</h1>

    {{ include('responsable/formateur/_form.html.twig') }}

    <a href="{{ path('app_responsable_formateur_index') }}">retour à la liste</a>
{% endblock %}
