{% extends 'base.html.twig' %} {% block title %}Nouveau Formateur{% endblock %}
{% block body %}
<h1>créér un Formateur</h1>

{{ include("responsable/formateur/_form.html.twig") }}

<div class="button-container">
  <a class="btn-action" href="{{ path('app_responsable_formateur_index') }}"
    >retour</a
  >
</div>
{% endblock %}
