{% extends 'base.html.twig' %}

{% block title %}Edit Apprenant{% endblock %}

{% block body %}
    <h1>Edit Apprenant</h1>

    {{ include('donnees_communes/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="button-container">

        <a class="btn-action" href="{{ path('app_donnees_communes_index') }}">retour à la liste</a>
    
        {{ include('donnees_communes/_delete_form.html.twig') }}
    </div>
{% endblock %}
