<h1>Confirmation d'inscription</h1>
<p>Bonjour {{user.apprenant.nom}}</p>
<p>Merci de vous etes inscrit à notre centre de formation ! </p>
<p>N'oubliez pas de compléter les formulaires afin de terminer votre inscription ! </p>