{% extends 'base.html.twig' %}

{% block title %}Editer Promotion{% endblock %}

{% block body %}
<main>
    <h1>Editer une Promotion</h1>

    {{ include('admin/promotion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_promotion_index') }}">retour à la liste</a>

    {{ include('admin/promotion/_delete_form.html.twig') }}
</main>
{% endblock %}
