{% extends 'base.html.twig' %}

{% block title %}Editer un Formateur{% endblock %}

{% block body %}
    <h1>Editer un Formateur</h1>

    {{ include('admin/formateur/_form.html.twig', {'button_label': 'enregistrer'}) }}

    <div class="button-container">
        <a class ="btn-action" href="{{ path('app_admin_formateur_index') }}">retour</a>
    
        {{ include('admin/formateur/_delete_form.html.twig') }}

    </div>
{% endblock %}
