{% extends 'base.html.twig' %}

{% block title %}Nouveau Formateur{% endblock %}

{% block body %}
    <h1>Créér un Formateur</h1>

    {{ include('admin/formateur/_form.html.twig') }}

    <a href="{{ path('app_admin_formateur_index') }}">retour à la liste</a>
{% endblock %}
